footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em 1em;
    /* width: 100%; */
    min-height: 450px;
    padding-bottom: 1em;
    color: black;
    background-color: var(--white-clr);
    border-top-right-radius: 5em;
    border-top-left-radius: 5em;
    position: relative;
}

.anchor-footer{
    position: absolute;
    top: -6em;
}

.footer-title{
    text-align: center;
    font-weight: bold;
    font-size: clamp(3rem, 6vw + 1rem, 7rem);
    width: 5em;
    line-height: 1em;
}

.footer-contact-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;
    margin-top: 2em;
    cursor: pointer;
}

.footer-phone-link{
    border: none;
    background-color: transparent;
    padding: 0em 0em;
    color: var(--dark-clr);
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
}

.footer-mail-link{
    border: none;
    background-color: transparent;
    padding: 0em 0em;
    color: var(--dark-clr);
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
}

.phone-active::before{
    content: 'Copied !';
    position: absolute;
    top: -3em;
    padding: .3em .4em;
    border-radius: 5px;
    left: 27%;
    background-color: var(--dark-clr);
    color: var(--white-clr);
    font-weight: 500;
    font-size: .8rem;
}

.mail-active::before{
    content: 'Copied !';
    position: absolute;
    top: -3em;
    padding: .3em .4em;
    border-radius: 5px;
    left: 27%;
    background-color: var(--dark-clr);
    color: var(--white-clr);
    font-weight: 500;
    font-size: .8rem;
}

.footer-phone-link::after{
    background: none repeat scroll 0 0 transparent;
    bottom: -5px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: greenyellow;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.footer-phone-link:hover:after { 
    width: 100%; 
    left: 0; 
  }

  .footer-mail-link::after{
    background: none repeat scroll 0 0 transparent;
    bottom: -5px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: greenyellow;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.footer-mail-link:hover:after { 
    width: 100%; 
    left: 0; 
  }

.author-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    width: 90%;
}

.author-text{
    color: var(--light-dark-clr);
    font-weight: 500;
    font-size: .8rem;
}

.author-text-bold{
    color: var(--dark-clr);
    font-weight: bold;
    font-size: .9rem;
}

.footer-dot{
    font-size: .3rem;
    color: var(--accent-clr);
    margin-left: .3em;
}

.footer-social-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3em;
    gap: 10em;
}

.footer-social{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10em;
    cursor: pointer;
}

.social-divider{
    width: 100%;
    height: 2px;
    background-color: var(--grey-clr);
    transition: .5s ease;
}

.footer-social:hover .social-divider{
    background-color: var(--accent-clr);
}

.social-text-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: .3em;
}


.social-text{
    font-size: 1rem;
    color: var(--dark-clr);
    font-weight: 500;
}

.social-text-icon{
    font-size: 1.3rem;
    color: var(--dark-clr);
}

@media(max-width: 720px){
    .footer-contact-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 5em;
        margin-top: 0em;
        cursor: pointer;
    }
}

@media(max-width: 510px){
    .footer-contact-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 2em;
        margin-top: 0em;
        cursor: pointer;
    }

    .footer-social-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 0em;
        gap: 2em;
    }

    .author-text{
        color: var(--light-dark-clr);
        font-weight: 500;
        font-size: .6rem;
    }
    
    .author-text-bold{
        color: var(--dark-clr);
        font-weight: bold;
        position: relative;
        font-size: .7rem;
    }
    
    .author-box{
        width: 100%;
    }
}

@media(max-width: 350px){
    .footer-social-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 0em;
        gap: 2em;
    }

   
}
